body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    background-image: url('homewall.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bgblr{
    background-color: rgba(0, 0, 0, 0.4);
    height: 110vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-pic {
    margin-top: -2%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.profile-pic:hover{
    transform: scale(1.1);
}

.info {
    border: solid transparent;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
}

.info p{
    color: white;
}
